# dictionary
collection of items alligned with key value pair

In [1]:
mydict={}
mydict=dict()

In [3]:
mydict={'name':'sairam','branch':'IT'}

In [4]:
len(mydict)

2

In [5]:
mydict['name']

'sairam'

In [7]:
mydict['branch']

'IT'

In [8]:
mydict['cse']

KeyError: 'cse'

In [9]:
mydict['name']='friends'

In [10]:
mydict

{'name': 'friends', 'branch': 'IT'}

In [11]:
mydict['mobile']=100

In [12]:
mydict

{'name': 'friends', 'branch': 'IT', 'mobile': 100}

# dict methods

### clear()
removes all the items in dictionary

In [13]:
mydict.clear()

### fromkeys()

In [15]:
students=['sairam','lakshmi']

In [16]:
{}.fromkeys(students,10)

{'sairam': 10, 'lakshmi': 10}

In [18]:
students=['sairam','lakshmi']
marks=[30,50]
mydict={}
for each in range(len(students)):
    mydict[students[each]]=marks[each]
mydict

{'sairam': 30, 'lakshmi': 50}

In [19]:
mydict={'name':'rupa','branch':'cse'}
mydict.get('name')

'rupa'

### items()
returns all items in dictionary

In [20]:
mydict.items()

dict_items([('name', 'rupa'), ('branch', 'cse')])

In [21]:
for key in mydict:
    print(key,'--->',mydict[key])

name ---> rupa
branch ---> cse

In [25]:
result=mydict.items()
for item in result:
    print(item[1])

rupa
cse

In [35]:
name='venkateswara swami'
freq={}    
for char in name:
    oldvalue=freq.get(char,0)
    freq[char]=oldvalue+1
print(freq)

{'v': 1, 'e': 2, 'n': 1, 'k': 1, 'a': 4, 't': 1, 's': 2, 'w': 2, 'r': 1, ' ': 1, 'm': 1, 'i': 1}

#pop(key)
remove the item related to the given key

In [36]:
freq.pop('v')

1

In [37]:
freq.pop('b','key not found')

'key not found'

In [38]:
freq

{'e': 2,
 'n': 1,
 'k': 1,
 'a': 4,
 't': 1,
 's': 2,
 'w': 2,
 'r': 1,
 ' ': 1,
 'm': 1,
 'i': 1}

## pop()
remove one item in the dictionary

In [39]:
freq.popitem()

('i', 1)

# set default(key,optional_value)
- set default value if given key not available in dictionary
- if optional value not given,none is the default value

In [41]:
freq.setdefault('z')

In [42]:
freq.setdefault('x',10)

10

In [43]:
freq

{'e': 2,
 'n': 1,
 'k': 1,
 'a': 4,
 't': 1,
 's': 2,
 'w': 2,
 'r': 1,
 ' ': 1,
 'm': 1,
 'z': None,
 'x': 10}

# update(dict)

In [44]:
mydict={'name':'chotu','mobile':'101'}
change={'mobile':'108','location':'hyderabad'}

In [45]:
mydict.update(change)

In [46]:
mydict

{'name': 'chotu', 'mobile': '108', 'location': 'hyderabad'}

# values

In [47]:
mydict.values()

dict_values(['chotu', '108', 'hyderabad'])

In [48]:
mydict.keys() #return keys in the dictionary

dict_keys(['name', 'mobile', 'location'])

# sets

In [49]:
s={30,40,10}
type(s)

set

In [50]:
s1={10,20,30}
s1

{10, 20, 30}

In [51]:
s2={10,40,60}

In [52]:
s1.union(s2)

{10, 20, 30, 40, 60}

In [53]:
s1

{10, 20, 30}

In [54]:
s2

{10, 40, 60}

In [55]:
s1.intersection(s2) #intersection will return only common items

{10}

In [56]:
s1={1,2,3,4,5,6}
s2={1,9,8,6,5,7}

In [57]:
s2.issubset(s2) #will compare values of s1 are present in s2 are not

True

In [59]:
s2.issuperset(s1) #

False

In [60]:
s1.difference(s2)# will check s1 items present in s2 and return remaining values

{2, 3, 4}

In [61]:
s2.difference(s1)

{7, 8, 9}

In [62]:
s1.difference_update(s2)# will return the values present in difference

In [63]:
s1

{2, 3, 4}

In [65]:
s1.add(20)# add items to given set
s1

{2, 3, 4, 20}

In [66]:
s1.discard(3)#remove the given value in the set
s1

{2, 4, 20}

In [73]:
students=[('nasty',[10,20,30]),('mouse',[30,40,50])]
report={}
for student in students:
    name=student[0]
    marks=sum(student[1])
    report[name]=marks
lowmarks=min(report.values())
for student in report.items():
    if student[1]==lowmarks:
        print(student[0])

nasty

# Regular Expressions --->(search(),match(),findall() )

### search(str_pattern,str_data)--> it will search untill the value been matched

In [79]:
import re
name='peru'
re.search('e',name)

# match()---> it will only if it is matched in index otherwise it return none

In [82]:
re.match('u',name)
print(re.match('u',name))

None

# findall()---->it will find repating letters in name

In [83]:
re.findall('u',name)

['u']

In [86]:
names=['tata','birla','laila']
for name in names:
    if re.search('l',name):
        print(name)

birla
laila

# special characters in regular expression pattern

# any single character

In [87]:
re.search('...','four')

# ^ means starts with

In [88]:
re.search('^.','look')

In [89]:
print(re.search("^o",'look'))--> if first same  character otherwise it will return none

None

## find the fruits with 6 characters length using re

In [93]:
fruits=['apple','orange','mango','grapes']
for fruit in fruits:
    if re.search('......',fruit):
        print(fruit)

orange
grapes

# $ means ending with

In [94]:
re.search('k$','look')---> it should end with same character otherwise it will print none

In [95]:
re.search('...k$','look')

### {min,max}
. select given range

In [98]:
re.search('.{1,9}$','12345678')

In [100]:
re.search('.{5}$','1234567')

In [104]:
names=['nasty','laddu','mouse']
for name in names:
    result= re.search('...$',name)
    print(result.group())

sty
ddu
use

### \d
single digit

In [109]:
re.search('\d','hai123')

In [110]:
re.search('\d{2}2','hai1223')

## \D means otherthan digit

In [111]:
re.search('\D','123 svs123')

In [114]:
mobiles=['1234567890','100','101']
for mobile in mobiles:
    if re.search('^\d{10}$',mobile):
        print(mobile)

1234567890

## [] one of the character in []

In [115]:
re.search('[98765]','abc123987','9876543210')

In [127]:
mobiles=['912344565','9522693497']
for mobile in mobiles:
    if re.search('^[9876]\d{9}$',mobile):
        print(mobile)

9522693497

## * means zero or more

In [128]:
re.search('h*','hai')

In [130]:
re.search('s*','abcsss')

In [131]:
re.search('.*','look')

In [134]:
re.search('^p.*n$','python')

## + means one or more

In [137]:
re.search('a+','xyzaabaaa')

### name@gmail.com

In [139]:
emails=['lambu@gmail.com','jambu@gmail.com','123dimbu@gmail.com']
for email in emails:
    if re.search('[a-z0-9]+@gmail.com',email):
        print(email)

lambu@gmail.com
jambu@gmail.com
123dimbu@gmail.com

## \s means spacing character

In [142]:
re.search('\s','good evening')

## \S means other than spacing

In [143]:
re.search('\S','good evening')

## \w means  select identifiers a-zA-Z0-9